<html>
    <head>
        <title>Dashboard App</title>
        
         <link rel="stylesheet" type = "text/css" href="/stylesheets/app.css">
         <link rel="stylesheet" type = "text/css" href="/semantic.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="Chart.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaxQj3uwOVmvch171DaNd7U2XKvToxJ3g&callback=initMap"
        type="text/javascript"></script>
    
    </head>
    <body>
        
     <div class="ui menu">
          <a class="active item" href="/">
            <i class="home icon"></i> Home
          </a>
         
          <div style="margin-left:27%;padding-top:10px;padding-bottom:10px">
              <strong><h1> DASHBOARD APPLICATION </h1></strong>
          </div>
 
    </div>
