<% include ./partials/header %>

<body style="background-image:url('../homepage.jpg');">



 
  <div class="ui form" style="width:400px;margin-left:80px;margin-top:200px">
          <div class=" fields">
            <label style="color:white"><h2><center> Select Dataset : </center></h2></label>
            <br>
             </div>
            <p>
           <select class="ui search dropdown" onchange="location = this.value;"  >
              <option value="">Datasets</option>
                <option value="/dataset1">Employee Dataset</a></option>
               <option value="/dataset2">Chicago Census Dataset</a></option>
               <option value="/dataset3">Gold Price Dataset</a></option>
                <option value="/dataset4">Fuel Price Dataset</a></option>
                 <option value="/dataset5">International Students Dataset</a></option>
              </select>
               <br>
            </p>
           
        </div>
        
        
        
        
        