<% include ../partials/header %>
<body style= " background-image: url('../dataset1bodybackground.jpg') " >

<div class="ui segment container" style="margin-top:35px;">
 <center>

<div class="jumbotron" style="padding-top:10px;background-color:white;margin-bottom:0px;height:380px">
  <p><h1 ><strong>Select one or more values : </strong> </h1></p>
<img src="../selection.jpg" 
style="height:300px;widhth:400px;"></img>
</div>
   

<table class="ui striped table" border="1" cellpadding="1" id="header-fixed" style="width:900px;">

<% if(x==="JOB_TITLE") { var title="JOB TITLE" }%>
<% if(x==="DEPARTMENT_CODE") { var title="DEPARTMENT CODE" }%>
<% if(x==="ANNUAL_SALARY") { var title="ANNUAL SALARY" }%>
<tbody>
    <th><center><h4><strong>CheckBox</strong></h4></center></th>
    <th><center><h4><strong><%=title%></strong></h4></center></th>
    
    <form action="/distinctdataset1show" method="GET">
    <% data.forEach(function(cdata){ %>
        <tr>
        <td><center><input type="checkbox" name="<%=x%>" value="<%=cdata%>"></center></td>
        <td><center><%=cdata%></center></td>
        </tr>
       
    <% }); %>
   
</tbody>
</table>
</center>
<div class="ui main segment container">
 <div class="ui form">
          <div class="inline fields">
            <label>Select Chart Type : </label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="chartType" value="bar" checked="checked">
                <label>Bar</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="chartType" value="line" checked="checked">
                <label>Line</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="chartType" value="pie" checked="checked">
                <label>Pie</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="chartType" value="doughnut" checked="checked">
                <label>Doughnut</label>
              </div>
            </div>
          </div>
        </div>
            <button class="ui primary button">Submit</button>
    </form>
    </div>       
</div>
<% include ../partials/footer %>